.intro {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  .next{
      z-index: 50;
      width: 100vw;
      height: 50px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  
  .cloudsContainer {
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
    .cloud {
      width: 100vw;
      height: 100vh;
      position: absolute;
      height: fit-content;
    }
  }

  .logo {
    width: 100vw;
    height: 100vh;
  }

  
  .gaetanFather {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;

    .gaetan {
      width: 100vw;
      height: 100vh;
      position: absolute;
      z-index: -10;
    }
  }
  
  .title {
    width: 100vw;
    height: 100vh;
    font-size: 8rem;
    color: #fff;
    // animation: neon 1.5s ease-in-out infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@keyframes neon {
  from {
    filter: 
    drop-shadow(0 0 .5px #fff)
    drop-shadow(0 0 1px #fff) 
    drop-shadow(0 0 1.5px #fff)
    drop-shadow(0 0 1px #B5179E)
    drop-shadow(0 0 3px #B5179E)
    drop-shadow(0 0 5px #B5179E)
    drop-shadow(0 0 8px #B5179E)
    drop-shadow(0 0 12px #B5179E);
  }
  to {
    filter: 
    drop-shadow(0 0 1px #fff)
    drop-shadow(0 0 1.5px #fff)
    drop-shadow(0 0 2px #fff)
    drop-shadow(0 0 3px #B5179E)
    drop-shadow(0 0 5px #B5179E)
    drop-shadow(0 0 8px #B5179E)
    drop-shadow(0 0 12px #B5179E)
    drop-shadow(0 0 5px #B5179E);
  }
}

h2 {
  color: white;
  height: fit-content;
  width: fit-content;
  font-size: 3rem;
  position: absolute;
}